{% extends "base.html" %}
{% load i18n %}


{% block main_content %}

<h2>{% trans "Account" %} {{ account.number }}</h2>

<strong>{% trans "Balance" %}: {{ account.balance }}</strong>

<p>{{ account.description }}<p>

<ul>
	<li><a href="{% url cashflow-add-money account.number %}" class="plus">{% trans "Add money" %}</a></li>
	<li><a href="{% url cashflow-withdraw-money account.number %}" class="minus">{% trans "Withdraw money" %}</a></li>
	<li><a href="{% url cashflow-move-money account.number %}" class="move">{% trans "Move money to another account" %}</a></li>
	<li><a href="#" class="history">{% trans "Operations history" %}</a></li>
</ul>

{% endblock %}
